.container{
    position:   fixed;
    z-index:    1;
    @media (min-width: 768px){
        display: none;
    }
}

.navbarLimiter{
    position:       absolute;
    display:        inline-block;
    left:           0;
    top:            0;
    width:          100vw;
    height:         100vh;
    overflow:       hidden;
    z-index:        1;
    pointer-events: none;
    &[open]{
        & .menuBackground{
            transform:  scale(45);
            cursor:     unset;
            transition: transform .5s;
        }
        & .menuContainer{
            opacity:        1;
            transform:      translateY(0rem);
            transition:     opacity .3s .5s, transform .3s .5s;
            pointer-events: all;
        }
    }
}

.menuBackground{
    position:           absolute;
    display:            flex;
    width:              3rem;
    height:             3rem;
    border-radius:      50%;
    padding:            0.5rem;
    margin:             0.625rem;
    background-color:   #1C1C1C;
    transform:          scale(1);
    transition:         transform .5s .3s;
    z-index:            -1;
    pointer-events:     none;
}

.iconContainer{
    display:            flex;
    width:              3rem;
    height:             3rem;
    border-radius:      50%;
    padding:            0.5rem;
    margin:             0.625rem;
    background-color:   #1C1C1C;
    cursor:             pointer;
}

.icon{
    color:      white;
    font-size:  2rem;
    cursor:     pointer;
    z-index:    1;
}

.menuContainer{
    display:        flex;
    left:           0;
    top:            0;
    width:          100%;
    height:         100%;
    flex-flow:      column nowrap;
    opacity:        0;
    transform:      translateY(1rem);
    transition:     opacity .3s, transform .3s;
    z-index:        10000;
}

.title{
    flex:       0 0 auto;
    color:      white;
    font-size:  1.5rem;
    text-align: center;
}

.linkList{
    display:            flex;
    padding:            0;
    margin:             0 0 2.5rem 1.125rem;
    list-style:         none;
    flex-flow:          column nowrap;
    flex:               1 0 0;
    gap:                0.75rem;
    z-index:            300;
    cursor:             pointer;
}

.menuLink{
    display:            flex;
    justify-content:    flex-end;
    color:              #666666;
    font-size:  1rem;
    cursor:     pointer;
    &[active="true"]{
        color: #AAAAAA;
    }

    @media(max-width: 767px) {
        justify-content:    flex-start;
    }
}

.logout{
    all:                unset;
    margin: 0 0 1.125rem 1.125rem;
    color:  var(--primary);
    cursor: pointer;

    @media(max-width: 767px) {
        text-align: left;
    }
 }
 