.banner{
    display:            flex;
    height:             600px;
    justify-content:    center;
    align-items:        center;
    background-image:   var(--main-gradient);
}

.logo{
    padding:        0;
    margin:         0;
    height:         calc( 100% * 1 / 4);
    user-select:    none;
}