.page{
    max-width:      100%;
    height:         100%;
    flex-flow: column nowrap;
}

.cover{
    position:               relative;
    height:                 450px;
    background-color:       rgba(0,0,0,0.9);
    perspective:            300px;
    overflow:               hidden;
}

x
.coverCard{
    position:           absolute;
    top:                0;
    left:               0;
    bottom:             0;
    right:              0;
    transition:         transform 0.6s;
    transform-style:    preserve-3d;
}

.coverCardFace{
    position:               absolute;
    width:                  100%;
    height:                 100%;
    backface-visibility:    hidden;
    background-position-y:  bottom;
    background-size:        cover;
    background-attachment:  fixed;
}

.coverCardBackFace{
    transform:          rotateX(180deg);
}

.main{
    height: 120%;
    position:           relative;
    background-color:   #F3F3F3;
}

.titleArtContainer{
    display:        flex;
    flex-flow:      column nowrap;
    align-items:    center;
    transform:      translateY( calc(var(--box-art-width) * -0.6));
}

.gameBoxArt{
    flex:                   0 0 auto;
    width:                  var(--box-art-width);
    height:                 var(--box-art-height);
    margin:                 0 60px;
    background-position:    center;
    background-size:        cover;
}

.title{
    text-align:                 center;
    color:                      transparent;
    font-size:                  28px;
    background-image:           linear-gradient(90deg, #BF55EC, #FE5F55 60%);
    background-clip:            text;
    -webkit-background-clip:    text;
    -webkit-text-fill-color:    transparent;
}

.titleAndButtonContainer{
    flex:               1 0 0;
    height:             var(--box-art-height);
    padding:            0px 15px;
    flex-flow:          column nowrap;
    justify-content:    flex-start;
}

.titleAndButtonContainer>*{
    max-width: 100%;
}

.buttonContainer{
    display:            flex;
    padding:            10px 0px;
    justify-content:    center;
    gap:                5px;    
    flex-wrap:          wrap;
}

.platformButton{
    flex:               0 0 200px;
    color:              white;
    padding:            10px 20px;
    border:             none;
    border-radius:      500px;
    outline:            none;
    font-size:          14px;
    background-image:   linear-gradient(90deg, #BF55EC, #FE5F55 60%);
    cursor:             pointer;
}

.summary{
    max-width:          1024px;
    padding:            10px;
    color:              white;
    background-color:   #333;
    font-size:          18px;
    border-radius:      5px;
}

.storyline{
    max-width: 1024px;
    font-size: 18px;
}

@media screen and (min-width: 1024px) {
    
    .titleArtContainer{
        flex-flow:      row nowrap;
    }

    .titleAndButtonContainer{
        margin-right:       60px;
    }

    .gameBoxArt{
        flex: 0 0       auto;
        align-self:     flex-start;
    }

    .title{
        text-align:             left;
        font-size:              48px;
        text-overflow:          ellipsis;
        overflow:               hidden;
        display:                -webkit-box !important;
        -webkit-line-clamp:     2;
        -webkit-box-orient:     vertical;
        white-space:            normal;
        height:                 calc(var(--box-art-width) * 0.6);           
        margin:                 0;
        justify-content:        flex-start;
    }

    .buttonContainer{
        justify-content: flex-start;
    }

    .summary{
        font-size: 24px;
    }

    .storyline{
        font-size: 24px;
    }
}