@import './mixins.scss';

.label{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    &:focus-within > .labelTextContainer{
        transform: translate(0px,0px);
    }
}

.labelTextContainer{
    position:   relative;
    transform:  translate( 10px, calc(100% + 25px));
    transition: transform 0.2s;
    cursor:     text;
    z-index:    1;
}

.labelTextContainerNotEmpty{
    position:   relative;
    transform:  translate(0px,0px);
    z-index:    1;
}

.labelText{
    margin-top:     0;
    @include        gradient-text;
}

.textPlaceholder{
    position:   absolute;
    top:        0;
    left:       0;
    color:      #666;
    margin-top: 0;
    z-index:    0;
}

.input{
    width:          100%;
    padding:        10px 20px;
    outline:        none;
    @include        gradient-border;
    border-width:   2px;
}
