@import './mixins.scss';

.container{
  margin:   0;
  padding:  0;
}

.cover{
  position:         relative;
  width:            100%;
  height:           700px;
  perspective:      800px;
  overflow:         hidden;
  background-color: #323232;
  @media screen and (max-width: 768px){
    height: 400px;
  }
}

.h1{
  display:                    flex;
  position:                   relative;
  height:                     100%;
  margin-top:                 0;
  padding:                    0 10px;
  color:                      transparent;
  font-size:                  140px;
  background-image:           linear-gradient(90deg, #BF55EC, #FE5F55 60%);
  background-clip:            text;
  -webkit-background-clip:    text;
  -webkit-text-fill-color:    transparent;
  align-items:                flex-end;
}

.welcome{
  padding:                    100px 0px 100px  0px;
  margin:                     0 auto;
  font-size:                  32px;
  color:                      white;
  background-image:           linear-gradient(90deg, #BF55EC, #FE5F55 60%);
  @media screen and (max-width: 768px){
    padding:                  100px 20px;
  }
}

.explore{
  display:          flex;
  justify-content:  center;
  align-items:      center;
}

.exploreLink{
  padding:        20px 50px;
  border:         2px solid white;
  border-radius:  5px;
  text-align:     center;
  cursor:         pointer;
  transition:     0.5s;
  &:hover{
    background-color: white;
    & .exploreLinkText {
      @include gradient-text;
    }
  }
}

.exploreLinkText{
  color:  white;
  margin:   0;
}