.container{
  margin:   0;
  padding:  0;
}

.cover{
  position:     relative;
  width:        100%;
  height:       300px;
  perspective:  400px;
  overflow:     hidden;
}

.h1{
  display:                    flex;
  position:                   relative;
  height:                     100%;
  margin-top:                 0;
  padding:                    0 10px;
  color:                      transparent;
  font-size:                  140px;
  background-image:           linear-gradient(90deg, #BF55EC, #FE5F55 60%);
  background-clip:            text;
  -webkit-background-clip:    text;
  -webkit-text-fill-color:    transparent;
  align-items:                flex-end;
}

.welcome{
  padding:                    100px 20px;
  font-size:                  48px;
  color:                      white;
  background-image:           linear-gradient(90deg, #BF55EC, #FE5F55 60%);
}

.explore{
  display:          flex;
  justify-content:  center;
  align-items:      center;
}

.exploreLink{
  padding:        20px 50px;
  border:         2px solid white;
  border-radius:  5px;
  text-align:     center;
  cursor:         pointer;
}

@media screen and (min-width: 768px) {
  .cover{
    height: 800px;
  }

  .welcome{
    padding: 100px 40% 100px 1  0px;
  }
}