@import './mixins.scss';

.card{

}

.title{

}

.description{
    
}

.cardContainer{
    display:    flex;
    flex-flow:  row wrap;
    padding:    10px;
}


@mixin list-card{
    width:      var(--box-art-width);
    height:     var(--box-art-height);
    transition: transform 0.3s;
    cursor:     pointer;
    &:hover{
        transform: scale(0.95);
    }
}

.addList{
    display:            flex;
    justify-content:    center;
    align-items:        center;
    @include            list-card;
    @include            gradient-border;
    border-width:       2px;
    color:              #FE5F55;
    font-size:          2em;
}

.list{
    display:            flex;
    flex-flow:          column nowrap;
    justify-content:    flex-end;
    @include            list-card;
    // @include            gradient-border;
    border-width:       2px;
    background-color:   #333333;
}

.listName{
    @include    gradient-text;
    font-size:  3rem;
}