@mixin gradient-text{
    color:                      transparent;
    background-image:           var(--main-gradient);
    background-clip:            text;
    -webkit-background-clip:    text;
    -webkit-text-fill-color:    transparent;
}

@mixin gradient-border{
    outline:            none;
    border:             10px solid;
    border-image-slice: 1;
    border-width:       5px;
    border-image-source: var(--main-gradient);
}

@mixin list-input{
    display:        block;
    resize:         none;
    width:          100%;
    height:         100px;
    padding:        10px 20px;
    @include        gradient-border;
    border-width:   2px;
    font-family:    'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin hover-color($color){
    &:hover{
        color: $color;
    }
}